@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<body class="bg-dark">
    <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Password</p>
            <h2 class="fw-bold">@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-4">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="mb-3">
                     <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password."/>
                </div>
                <div class="mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password."/>
                </div>
                <div class="mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                </div>
                <div class="justify-content-center">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                </div>
            </form>
        </div>
    </div>
</body>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
