@page
@model Disable2faModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}


<body class="bg-dark">
    <div class="row mb-lg-5">
        <div class="col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">@ViewData["Title"]</p>
            <h2 class="fw-bold">Disable authentication</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5">
            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>This action only disables 2FA.</strong>
                </p>
                <p>
                    Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                    used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <form method="post">
                    <button class="btn btn-danger" type="submit">Disable 2FA</button>
                </form>
            </div>
        </div>
    </div>
</body>