@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<body class="bg-dark">
    <div class="row mb-lg-5">
        <div class="col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success">Two-factor authentication (2FA)</p>
            <h2 class="fw-bold">@ViewData["Title"]</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-5">
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
                </p>
                <p>
                    This process disables 2FA until you verify your authenticator app.
                    If you do not complete your authenticator app configuration you may lose access to your account.
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <form id="reset-authenticator-form" method="post">
                <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
                </form>
            </div>
        </div>
    </div>
</body>